{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}
{% block main %}
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 当前用户量</span>
            <div id="user_number" class="count">-</div>
            <span class="count_bottom"><i class="green">4% </i>昨日同时相比 </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> 当前入店率</span>
            <div id="user_rate" class="count">-</div>
            <span class="count_bottom"><i class="green"><i
                    class="fa fa-sort-asc"></i>3% </i> 昨日同时相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 客户平均停留时间</span>
            <div id="stay_time" class="count">-</div>
            <span class="count_bottom"><i class="green"><i
                    class="fa fa-sort-asc"></i>3% </i> 昨日同时相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> 老客户比例</span>
            <div class="count">42.7%</div>
            <span class="count_bottom"><i class="green"><i
                    class="fa fa-sort-asc"></i>8.2% </i> 昨日同时相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 昨日平均访问周期</span>
            <div id="periodic" class="count">-</div>
            <span class="count_bottom"><i class="red"><i
                    class="fa fa-sort-desc"></i>12% </i> 与上周同日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-wifi"></i> 探针状态</span>
            <div class="count"><i class="green">正常</i></div>
        </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>用户量变化</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="mainPeople" style="height:350px;"></div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>用户组成</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="customer" style="height:350px;"></div>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>用户停留时间</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="stay" style="height:350px;"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="application/javascript">
        var theme = {
            color: [
                '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
                '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
            ],

            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: 'normal',
                    color: '#408829'
                }
            },

            dataRange: {
                color: ['#1f610a', '#97b58d']
            },

            toolbox: {
                color: ['#408829', '#408829', '#408829', '#408829']
            },

            tooltip: {
                backgroundColor: 'rgba(0,0,0,0.5)',
                axisPointer: {
                    type: 'line',
                    lineStyle: {
                        color: '#408829',
                        type: 'dashed'
                    },
                    crossStyle: {
                        color: '#408829'
                    },
                    shadowStyle: {
                        color: 'rgba(200,200,200,0.3)'
                    }
                }
            },

            dataZoom: {
                dataBackgroundColor: '#eee',
                fillerColor: 'rgba(64,136,41,0.2)',
                handleColor: '#408829'
            },
            grid: {
                borderWidth: 0
            },

            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },

            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitArea: {
                    show: true,
                    areaStyle: {
                        color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: '#408829'
                },
                controlStyle: {
                    normal: {color: '#408829'},
                    emphasis: {color: '#408829'}
                }
            },

            k: {
                itemStyle: {
                    normal: {
                        color: '#68a54a',
                        color0: '#a9cba2',
                        lineStyle: {
                            width: 1,
                            color: '#408829',
                            color0: '#86b379'
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: '#ddd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: '#99d2dd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: '#408829'
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: 'auto'
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                pointer: {
                    length: '90%',
                    color: 'auto'
                },
                title: {
                    textStyle: {
                        color: '#333'
                    }
                },
                detail: {
                    textStyle: {
                        color: 'auto'
                    }
                }
            },
            textStyle: {
                fontFamily: 'Arial, Verdana, sans-serif'
            }
        };
        if ($('#mainPeople').length) {
            var mainPeopleChart = echarts.init(document.getElementById('mainPeople'), theme);
            $.getJSON('/data/user_rate').done(function (data1) {
                $.getJSON('/data/user_number').done(function (data2) {
                    mainPeopleChart.showLoading();
                    option = {
                        title: {
                            text: '客户变化趋势',
                        },
                        tooltip: {
                            trigger: 'axis',
                            position: function (pt) {
                                return [pt[0], '10%'];
                            }
                        },
                        toolbox: {
                            show: !1
                        },
                        xAxis: [{
                            type: 'time',
                            boundaryGap: false,
                        }],
                        yAxis: [
                            {
                                type: 'value',
                                boundaryGap: [0, '100%']
                            },
                            {
                                type: 'value',
                                boundaryGap: [0, '100%']
                            }],
                        dataZoom: [{
                            start: 0,
                            end: 10,
                        }],
                        legend: {
                            data: ['客户人数', '入店率'],
                            x: 'center'
                        },
                        series: [
                            {
                                name: '客户人数',
                                type: 'line',
                                smooth: true,
                                symbol: 'none',
                                sampling: 'average',
                                data: data2
                            },
                            {
                                name: '入店率',
                                type: 'line',
                                smooth: true,
                                symbol: 'none',
                                sampling: 'average',
                                yAxisIndex: 1,
                                data: data1
                            }
                        ]
                    };
                    mainPeopleChart.setOption(option);
                    mainPeopleChart.hideLoading();
                    document.getElementById('user_number').innerHTML = data2.pop()[1];
                    document.getElementById('user_rate').innerHTML = data1.pop()[1].toFixed(4) * 100 + '%'
                });
            });
            setInterval(function () {
                $.getJSON('/data/user_rate').done(function (data1) {
                    $.getJSON('/data/user_number').done(function (data2) {
                        mainPeopleChart.setOption({
                            series: [{
                                data: data2,
                            }, {
                                data: data1
                            }
                            ]
                        });
                        document.getElementById('user_number').innerHTML = data2.pop()[1];
                        document.getElementById('user_rate').innerHTML = data1.pop()[1].toFixed(4) * 100 + '%'
                    });
                });
            }, 20000);
        }
        if ($('#customer').length) {

            var echartMiniPie = echarts.init(document.getElementById('customer'), theme);
            echartMiniPie.showLoading();
            MiniPieOption = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['未进店', '新用户', '老用户']
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: 335, name: '未进店'},
                            {value: 310, name: '新用户'},
                            {value: 234, name: '老用户'},
                        ]
                    }
                ]
            };
            echartMiniPie.setOption(MiniPieOption)
            echartMiniPie.hideLoading();
        }
        $.getJSON('/data/periodic').done(function (data1) {
            document.getElementById("periodic").innerHTML = data1.pop()[1] + "天";
        });
        if ($("#stay").length) {
            var stayChart = echarts.init(document.getElementById('stay'), theme);
            stayChart.showLoading();
            $.getJSON('/data/stay_time').done(function (data1) {

                option = {
                    title: {
                        text: '客户停留时间变化趋势',
                    },
                    tooltip: {
                        trigger: 'axis',
                        position: function (pt) {
                            return [pt[0], '10%'];
                        }
                    },
                    toolbox: {
                        show: !1
                    },
                    xAxis: [{
                        type: 'time',
                        boundaryGap: false,
                    }],
                    yAxis: [{
                        type: 'value',
                        boundaryGap: [0, '100%']
                    }],
                    dataZoom: [{
                        start: 0,
                        end: 10
                    }, {
                        start: 0,
                        end: 10,
                    }],
                    series: [
                        {
                            name: '分钟',
                            type: 'line',
                            smooth: true,
                            symbol: 'none',
                            sampling: 'average',
                            itemStyle: {
                                normal: {
                                    areaStyle: {
                                        type: 'default'
                                    }
                                }
                            },
                            data: data1
                        }
                    ]
                };
                stayChart.setOption(option)
                stayChart.hideLoading()
                document.getElementById("stay_time").innerHTML = data1.pop()[1] + "分钟";
            });
            setInterval(function () {
                $.getJSON('/data/stay_time').done(function (data1) {
                    mainPeopleChart.setOption({
                        series: [{
                            data: data1
                        }]
                    });
                    document.getElementById("stay_time").innerHTML = data1.pop()[1] + "分钟";
                });
            }, 3600000);
            setInterval(function () {
                $.getJSON('/data/periodic').done(function (data1) {
                    document.getElementById("periodic").innerHTML = data1.pop()[1] + "天";
                });
            }, 86400000);
        }
    </script>
{% endblock %}
