{% extends 'base.html' %}
{% block title %}
    Wifi表格
{% endblock %}
{% block main %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>客户连接Wifi
                    <small>客户设备正在连接的Wifi排名</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>排名</th>
                        <th>Wifi名</th>
                        <th>Wifi mac地址</th>
                        <th>平均连接数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>CMCC</td>
                        <td>11:11:11:11:11:11</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>CMCC-EDU</td>
                        <td>22:22:22:22:22:22</td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>山西大学Wifi</td>
                        <td>33:33:33:33:33:33</td>
                        <td>45</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>客户连接过的Wifi排名
                    <small>不太准确 仅供参考</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>排名</th>
                        <th>Wifi名</th>
                        <th>Wifi mac地址</th>
                        <th>平均连接数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>CMCC</td>
                        <td>11:11:11:11:11:11</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>CMCC-EDU</td>
                        <td>22:22:22:22:22:22</td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>山西大学Wifi</td>
                        <td>33:33:33:33:33:33</td>
                        <td>45</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}