<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.sxu.cs.database.UserNumberOperation">
    <insert id="add" parameterType="edu.sxu.cs.database.UserNumber"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_number (id, time, number)
        VALUES (#{id}, #{time}, #{number})
    </insert>
</mapper>